<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">            
        <table class="table table-hover">
          <thead>
            <tr>
                <th scope="col">Id</th>  
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Job Title</th>
            </tr>
          </thead>
          <tbody>
            <% userList.forEach(function(data) {%>
            <tr>
                <td><%= data._id %></td>
                <td><%= data.name %></td>
                <td><%= data.phone %></td>
                <td><%= data.email %></td>
                <td><%= data.job_title %></td>
            </tr>  
            <% }) %>
          </tbody>
        </table>
      </div>
  </body>
</html>